.recipe {
    margin: auto;
    width: 40%;
}

.recipe p {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

.description {
    margin: auto;
    width: 90%;
}

body {
    background-color: burlywood;
    color: darkslategray;
}

h1, h3, h4 {
    color:indigo;
}

b {
    color:maroon
}